body{
    background-color:rgb(238, 3, 179);
    }
    p{
        color:red;
        font-family: ;
        font-size:17 ;
        background:black ;
        }

        p{ #aaa{
                color: red;
        font-family:impact;
        background:lightblue
        }}
        
        
        